/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3rem; /* Increased padding */
  width: 120%; /* Set to 100% for responsive design */
  max-width: 1100px; /* Adjusted max-width */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  text-align: center;
  font-size: 2.5rem; /* Adjusted title size */
  color: #333;
  margin-bottom: 2rem;
}

.resignation-form {
  display: flex;
  flex-direction: column;
}

.form-section {
  margin-bottom: 2rem;
}

.form-section h2 {
  font-size: 1.7rem; /* Increased font size */
  color: #333;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.2rem; /* Increased label font size */
  color: #555;
  margin-bottom: 0.5rem;
}

input,
select,
textarea {
  font-size: 1.2rem; /* Increased font size */
  padding: 1rem; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
  min-height: 130px; /* Increased min-height for textarea */
}

select {
  cursor: pointer;
}

input[type="file"] {
  padding: 0.75rem;
}

button.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1.5rem; /* Increased padding */
  font-size: 1.5rem; /* Increased font size */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button.submit-btn:hover {
  background-color: #0056b3;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-group input,
.form-group select,
.form-group textarea {
  margin-top: 0.5rem;
}

.form-group input[type="date"] {
  padding: 1rem; /* Adjusted padding for date inputs */
}

.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="text"] {
  padding: 1rem; /* Adjusted padding for text inputs */
}

.form-group input[type="date"]:disabled {
  background-color: #e9ecef;
}

h2 {
  margin-bottom: 0.5rem;
}

/* Adding responsive design */
@media (max-width: 768px) {
  .form-container {
    width: 90%; /* Adjusted width for smaller screens */
    padding: 2rem; /* Adjusted padding for smaller screens */
  }

  .form-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .form-section h2 {
    font-size: 1.3rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  button.submit-btn {
    font-size: 1.2rem;
  }
}
