.main-container{
    background-image: url('D:\Vaics\hrms_vaics\Client\hrms\public\adminbg.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center ;
}
.admin-login-container{
    background-color: aliceblue;
    border-radius: 15px;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.submit-button{
    background-color: blanchedalmond;
    border-width: 0px;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}
.admin-sub-button{
    display: flex;
    justify-content: center;
    align-items: center;

}