.regularise-on-dates{
    width: 100%;
    background-color: rgb(216, 211, 211);
    height: 100vh;
    overflow: scroll;
}

.req-date-form{
    margin-top: 20px;
    width: 97%;
    height: 70px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.reg-input{
    height: 30px;
}

.reg-butt{
    height: 30px;
}

.dates-tobe-regularised{
    width: 97%;
    height: 500px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}