.admin-top-nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    gap: 20px;
    list-style: none;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .admin-nav-bar-button-li {
    position: relative;
  }
  
  .nav-Active {
    border: solid 0px;
    border-bottom-width: 4px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-color: rgb(50, 74, 253);
  }
  
  .admin-top-nav-button {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-width: 0px;
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Active {
    background-color: rgba(255, 255, 2, 0.196);
    height: 30px;
    margin-bottom: 5px;
  }
  
  .sublist {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(238, 234, 148);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
  }
  
  .sublist li {
    margin: 5px 0;
  }
  
  .sublist li button {
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    text-align: left;
    width: 100%;
  }
  
  .sublist li button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .second-sub-list {
    position: absolute;
    top: 0;
    left: 90%;
    background-color: rgb(238, 235, 194);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 200px;
  }
  
  .second-sub-list li {
    margin: 5px 0;
  }
  
  .second-sub-list li button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  